{% extends 'layout/base.html' %}

{% block body %}

<h1> Welcome to travel based analysis </h1>
<p> very simple page "p for this"</p>

{% endblock %}


{% block css %}

<style> 
  main {
    display: flex;
    width: 100vw;
    height: 90vh;
    background-color: rgb(131, 138, 138);
    background-image: url('https://images.unsplash.com/photo-1662718552420-f612c0408be8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80');
    background-size: cover ;
    background-position: bottom;
    background-repeat: no-repeat;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-emphasis-color: white;
  }



</style>


{% endblock %}

  