{% extends 'layout/base.html' %}

{% block body %}

<div class="container">
    <div class="row form-row">
        <div class="col-lg-4 bg-light">
            <h1 class="my-4 text-warning text-center">Sign IN to your account</h1>
            <form>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="john@gmail.com">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="enter your password">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>

{% endblock %}

{% block css %}

<style>
    .form-row{
        display: flex;
        height: 90vh;
        justify-content: center;
        align-items: center;
    }
    main{
        background-image: url('https://images.unsplash.com/photo-1626666057983-07982ba2fd3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
    }
</style>

{% endblock %}




